/* Default Values */
:root {
  --primary: teal;
  --secondary: lightblue;
  --white: #f5f5f5;
  --black: #333333;
  --font--xl: 2.5rem;
  --font--large: 1.25rem;
  --font--medium: 1.125rem;
  --primary--font: 'Roboto Condensed', sans-serif;
  --secondary--font: 'Cabin', sans-serif;
  --radius: 2px;
}

html, body {
  font-family: var(--secondary--font);
}

a {
  color: inherit;
  text-decoration: none;
}

/* Blocks */
.container {
  margin: 0 auto;
  position: relative;
  width: auto;
}

.section {
  padding: 3rem 1.5rem;
}

.title {
  font-family: var(--primary--font);
  font-size: var(--font--xl);
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.subtitle {
  font-family: var(--secondary--font);
  font-size: var(--font--large);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Elements */

.nav__item {
 font-family: var(--primary--font);
 padding: .5rem 1rem;
}

.nav__wrapper {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

/* Modifiers */

.title--primary {
 color: var(--primary);
}

.title--secondary {
  color: var(--secondary);
}

.nav__item--primary {
  background-color: var(--primary);
  border-radius: var(--radius);
  color: var(--white);
}

.nav__item--primary:hover, .nav__item--primary:active {
  background: var(--secondary);
  color: var(--black);
}